In [35]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [26]:
raw = pd.read_csv("/Users/adityadey/Documents/Projects/meltingpoint/BradleyMeltingPointDataset/bradley-data.csv", 
                  sep=';',
                  names=['key', 'chemical_name','smiles','deg_Celcius','donotuse']
                 ).set_index('key')

raw = raw.iloc[:,:-1]
raw.head(3)

,chemical_name,smiles,deg_Celcius
key,,,
1,"2-(2,4-dinitrobenzyl)pyridine",c1ccnc(c1)Cc2ccc(cc2[N+](=O)[O-])[N+](=O)[O-],92
2,2-(1-piperidinyl)aniline,c1ccc(c(c1)N)N2CCCCC2,46
3,2-(1-piperazinyl)pyrimidine,c1cnc(nc1)N2CCNCC2,33

In [36]:
# Drop duplicates in chemical name and smiles.

df1 = raw.drop_duplicates(subset= ['chemical_name'])
df2 = df1.drop_duplicates(subset=['smiles'])
print(f'Total number of rows: {df2.shape}')
print(f'Total number of unique value count per column:\n{df2.nunique()}')

Total number of rows: (22899, 3)
Total number of unique value count per column:
chemical_name    22899
smiles           22899
deg_Celcius       1756
dtype: int64

In [37]:
df2.isna().sum()

chemical_name    0
smiles           0
deg_Celcius      0
dtype: int64

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22899 entries, 1 to 28645
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   chemical_name  22899 non-null  object
 1   smiles         22899 non-null  object
 2   deg_Celcius    22899 non-null  object
dtypes: object(3)
memory usage: 715.6+ KB

In [39]:
df2.chemical_name = df2.chemical_name.astype(str)
df2.smiles = df2.smiles.astype(str)
df2.deg_Celcius = df2.deg_Celcius.str.replace(',','.').astype(float)

In [40]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22899 entries, 1 to 28645
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   chemical_name  22899 non-null  object
 1   smiles         22899 non-null  object
 2   deg_Celcius    22899 non-null  float64
dtypes: float64(1), object(2)
memory usage: 715.6+ KB